<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fotorol</title>
  </head>
  <body>
    <h1>Fotorol</h1>
    <p>Here's a platypus.</p>
    <img src="http://i.imgur.com/T5xVo.jpg" />
  </body>
</html>
